InterviewPreparationKit/bin/Debug/InterviewPreparationKit.exe
.vs/HackerRank-InterviewPreparationKit/v15/.suo
.vs/HackerRank-InterviewPreparationKit/v15/Server/sqlite3/db.lock
.vs/HackerRank-InterviewPreparationKit/v15/Server/sqlite3/storage.ide
.vs/HackerRank-InterviewPreparationKit/v15/Server/sqlite3/storage.ide-shm
.vs/HackerRank-InterviewPreparationKit/v15/Server/sqlite3/storage.ide-wal
InterviewPreparationKit/InterviewPreparationKit.csproj
InterviewPreparationKit/bin/Debug/InterviewPreparationKit.pdb
InterviewPreparationKit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.exe
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.pdb
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.csproj.CoreCompileInputs.cache
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.csproj.FileListAbsolute.txt
InterviewPreparationKit/bin/Debug/InterviewPreparationKit.exe
InterviewPreparationKit/InterviewPreparationKit.csproj
InterviewPreparationKit/bin/Debug/InterviewPreparationKit.pdb
InterviewPreparationKit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.exe
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.pdb
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.csproj.CoreCompileInputs.cache
InterviewPreparationKit/obj/Debug/InterviewPreparationKit.csproj.FileListAbsolute.txt
InterviewPreparationKit/bin/Debug/InterviewPreparationKit.exe
